body {
    font-family: 'Montserrat', sans-serif;
    color: black;
    background: #00172d;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    background: #00172d;
    border: black solid 1px;
}

.start-button {
    align-items: center;
}

.title {
    position: relative;
    font-size: larger;  
}

.quiz-container, .rules, .results {
    background: whitesmoke;
    border-radius: 5px 5px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    width: 50%;
    padding: 0 15px 15px 15px;
    margin: 0 auto;
   
}

.timer {
    height: 30px;
    color: black;
    text-align: left;
    text-align: right;   
}

.quiz-title {
    text-align: center;
    padding-bottom: 15px;
}

.question {
    text-align: center;
}

.answers-list, ul {
    width: 50%;
    margin: auto;

}

.initials-cue {
    color: white;
}

.initialsInput {
    justify-content: center;
    align-items: center;
    
}

.results-title {
    text-align: center;
    padding-bottom: 15px;
    font-size: larger;
}

#next {
    margin-top: 10%;
    margin-left: 120%;
}

.hide {
    display: none;
}